<?xml version="1.0" encoding="UTF-8"?>
<duplication_checker>
<sha1_ignore_list>
<ignore sha1="bd1259b7714e0402f3ca67b566a28ee31d57e698" />
</sha1_ignore_list>
<rules>
<keep_only path="dir2">
<remove_list>
<remove path="" />
<remove path="dir1" />
</remove_list>
</keep_only>
</rules>
</duplication_checker>
